img,
svg {
  vertical-align: middle;
}

.clean-block {
  padding-bottom: 50px;
}
.card {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.d-block {
  display: block !important;
}

.clean-card {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border-radius: 3px;
  margin-bottom: 40px;
  border: 1px solid #eaeaea;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
